# IDE/Editor files
.vscode/
.project
.settings/
.dir-locals.el

#Occasionally created gitpod .tmp files
*.tmp

# jekyll / GitHub Pages
*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules

