import unittest
from {{enum.package}}.{{get_python_name(enum.name)}} import {{enum.name}}

class Test{{enum.name}}(unittest.TestCase):

    def test_{{get_python_name(enum.name)}}_from_dict(self):

        {% for val in enum.enumerated_values %}self.assertEqual({{enum.name}}.from_dict('{{val}}'), {{enum.name}}.{{val}})
        {% endfor %}
        with self.assertRaises(ValueError):
            {{enum.name}}.from_dict('NEVER_GONNA_BE_A_VALID_ENUM_VALUE')

if __name__ == '__main__':
    unittest.main()