{% from 'macros.jinja2' import description, print_fields %}

{%- for m in models %}
{% set model = m.model %}
### Model: {{ model.name }}

{{ description(model) }}

{%- if 'components' in model -%}
#### Components
{{ print_fields(model.components) }}
{% endif %}

#### Behavior
{% for behavior in model.behavior %}
***{{ behavior.name }}***

{{ description(behavior) }}

This is a {{ behavior.type }} type of behavior.

{% if 'input' in behavior -%}
**Inputs**
{{ print_fields(behavior.input) }}
{% endif %}

{%- if 'output' in behavior -%}
**Outputs**
{{ print_fields(behavior.output) }}
{% endif %}

{% for acceptance in behavior.acceptance %}

**Scenario: {{ acceptance.scenario }}**

*Procedure:*
{%- if 'given' in acceptance %}
{% for given in acceptance.given %}
1. Given {{ given }}
{%- endfor %}
{%- endif %}
{%- for when in acceptance.when %}
1. When {{ when }}
{%- endfor %}
{%- for then in acceptance.then %}
1. Then {{ then }}
{%- endfor %}
{% endfor %}
{%- endfor %}

{%- endfor %}
