# {{plugin.name}}

## Plugin Commands

{%- for command in commands %}

### Command: {{command.name}}

{{command.description}}

Example shell usage:

```bash
(.env) $ aac {{command.name}} -h
```

#### Command arguments

- `-h`, `--help`: Shows a help message
{%- if command.input is defined %}
{%- for command_input in command.input %}
- `{{command_input.name}}`: {% if command_input.description is defined %}{{command_input.description}}{% else %}TODO: add description{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}

{%- if plugin_definitions | length > 0 %}

## Plugin Extensions and Definitions

{%- for def in plugin_definitions %}
{%- set type = def | rejectattr('yaml') | list | first %}

### {{type | title}} - {{def[type].name}}

TODO: Add descriptive information about {{def[type].name}}

```yaml
{{def.yaml}}
```
{%- endfor %}
{%- endif %}
