# {{ doc_title }}

{%- if interfaces | length > 0 %}

## Interfaces
{% include 'datum.md.jinja2' with context %}
{%- endif %}

{%- if models | length > 0 %}

## System Components
{% include 'model.md.jinja2' with context %}
{%- endif %}

{%- if usecases | length > 0 %}

## Use Cases
{% include 'usecase.md.jinja2' with context %}
{%- endif %}
