{% from 'macros.jinja2' import description, print_fields %}
{% for u in usecases %}
{% set usecase = u.usecase %}

### Usecase: {{ usecase.name }}

{{ description(usecase) }}

#### Participants

{{ print_fields(usecase.participants) }}

#### Steps

{% for steps in usecase.steps %}

***{{ steps.step }}***

 **Source:** {{ steps.source }}
 **Target:** {{ steps.target }}
 **Action:** {{ steps.action }}
{% endfor %}

{% endfor %}
