{%- for i in interfaces %}
{% set datum = i.schema %}
### Schema: {{ datum.name }}

#### Fields
{% for field in datum.fields %}
- {{ field.type }} {{ field.name }}{%- if field.name in datum.required %} (required){%- endif %}
{%- endfor %}

{%- endfor %}
