@startuml {{title}} Requirements Diagram

{% for req in requirements %}
object "<<{{req.type}}>>\n**{{req.title}}**" as {{req.name}} {
    id = {{req.id}}
    Text = {{req.shall}}
    {% for attribute in requirements.attributes %}
    {{attribute.name}} = {{attribute.value}}
    {% endfor %}
}
{% endfor %}

{% for req in requirements %}
{% for r in req.connected %}
{{req.name}} {{r.connector}} {{r.name}}{% if r.label %} : {{r.label}}{% endif %}
{% endfor %}

{% endfor %}

@enduml
