button {
    background-color: rgb(14, 99, 156);
    color: rgb(255, 255, 255);
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    border: none;
}

button:disabled {
    background-color: rgb(26, 63, 87);
    color: rgba(255, 255, 255, 0.383);
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    border: none;
}

#source-div {
    display: block;
}

input {
    width: 90%;
    margin-top: 4px;
    margin-bottom: 8px;
}

#source-label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}
