name: Functional Tests
on:
  workflow_call:

jobs:
  Package_Functional_Tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Download Python Wheel
      uses: actions/download-artifact@v2
      with:
        name: aac_wheel
        path: dist/

    - name: Install Wheel Distribution
      run: pip install dist/*.whl

    - name: Validate Core Spec and Plugin Specs
      run: |
        find src -name spec.yaml -print0 | xargs -0 -n1 aac validate
        find src/aac/plugins -name *.yaml -print0 | xargs -0 -n1 aac validate

    - name: Validate Example Model
      run: |
        aac validate model/flow/System.yaml

    - name: Test gen-plugin
      run: |
        mkdir gen_plugin_generation_test
        cp  src/aac/plugins/gen_protobuf/gen_protobuf.yaml gen_plugin_generation_test
        echo y | aac gen-plugin gen_plugin_generation_test/gen_protobuf.yaml

    - name: Print out Core Spec
      run: aac aac-core-spec

    - name: Test gen-plugin failure
      run: |
        mkdir gen_plugin_generation_test
        cp  src/aac/plugins/gen_protobuf/gen_protobuf.yaml gen_plugin_generation_test
        echo n | aac gen-plugin gen_plugin_generation_test/gen_protobuf.yaml
