name: Build Package and Artifacts

on:
  workflow_call:

jobs:
  Package_Functional_Tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Download Python Wheel
      uses: actions/download-artifact@v2
      with:
        name: aac_wheel
        path: dist/

    - name: Install Wheel Distribution
      run: pip install dist/*.whl

    - name: Validate Core Spec and Plugin Specs
      run: |
        find src -name spec.yaml -print0 | xargs -0 -n1 aac validate
        find src/aac/plugins -name *.yaml -print0 | xargs -0 -n1 aac validate

    - name: Validate Example Model
      run: |
        find model/flow -name system.yaml -print0 | xargs -0 -n1 aac validate

    - name: Test gen-plugin
      run: |
        mkdir -p AaC/model/test
        cp AaC/plugins/aac-spec/aac-spec.yaml AaC/model/test
        Aac gen-plugin AaC/model/test/aac-spec.yaml

    - name: Print out Core Spec
      run: aac aac-core-spec
