on:
  workflow_call:

defaults:
  run:
    working-directory: ./python

jobs:
  build_python_artifacts:
    name: Build Artifacts
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Create virtual environment
        run: python3 -m venv venv
      
      - name: Activate virtual environment
        run: source venv/bin/activate

      - name: Install the AaC Package
        run: pip install -e .[all]

      - name: Lint with flake8
        run: flake8 .

      - name: List Transitive Dependencies
        run: pipdeptree

      - name: Build distribution package
        run: python setup.py bdist_wheel

      - name: Upload Python Wheel
        uses: actions/upload-artifact@v3
        with:
          name: aac_wheel
          path: python/dist/

      - name: Build Documentation
        uses: ammaraskar/sphinx-action@0.4
        with:
          pre-build-command: "pip install aac -e .[all]"
          docs-folder: "docs/"

      - name: Upload Documentation
        uses: actions/upload-artifact@v3
        with:
          name: aac-documentation
          path: ./docs/docs/html

      - name: Generate RESTful API Documentation
        run: |
          mkdir oasv3-spec
          aac gen-openapi-spec oasv3-spec

      - name: Upload RESTful API Documentation
        uses: actions/upload-artifact@v3
        with:
          name: rest-api-documentation
          path: python/oasv3-spec
