name: Deploy Python Artifacts

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./python

jobs:
  build_deployment_artifacts:
    name: Build Artifacts
    uses: jondavid-black/AaC/.github/workflows/python-build-artifacts.yml@d96207706dddd99eb7778982ccbb0c572bb5f8a1

  deploy_artifacts:
    name: Deploy Artifacts
    runs-on: ubuntu-latest
    needs: build_deployment_artifacts
    steps:
      - name: Download API Documentation
        uses: actions/download-artifact@v2
        with:
          name: api-documentation
          path: python/docs/build/html/

      - name: Github Pages and Sphinx Deployment
        run: echo "This is where I'd deploy if I were setup"

      - name: Download Python Wheel
        uses: actions/download-artifact@v2
        with:
          name: aac_wheel
          path: python/dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: python/dist/
