name: Python Functional Tests

on:
  workflow_call:

defaults:
  run:
    working-directory: ./python

jobs:
  python_functional_Tests:
    name: Python Package Functional Tests
    runs-on: ubuntu-latest

    outputs:
      wheel_name: ${{ steps.wheel_artifact.outputs.wheel_name }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Download Python Wheel
      uses: actions/download-artifact@v2
      with:
        name: aac_wheel
        path: dist/

    - name: Set Wheel Artifact Name
      id: wheel_artifact
      run: echo "::set-output name=wheel_name::$(basename $(ls dist/*.whl))"

    - name: Install Wheel Distribution
      run: pip install dist/*.whl

    - name: Validate Core Spec and Plugin Specs
      run: |
        find src -name spec.yaml -print0 | xargs -0 -n1 aac validate
        find src/aac/plugins -name *.yaml -print0 | xargs -0 -n1 aac validate

    - name: Test gen-plugin
      run: |
        mkdir gen_plugin_generation_test
        cp  src/aac/plugins/gen_protobuf/gen_protobuf.yaml gen_plugin_generation_test
        echo y | aac gen-plugin gen_plugin_generation_test/gen_protobuf.yaml

  os_test_matrix:
      name: OS Test Matrix
      needs: python_functional_Tests
      runs-on: ${{matrix.os}}

      strategy:
          matrix:
            os: [ubuntu-latest, windows-latest]

      steps:
        - name: Checkout Repository
          uses: actions/checkout@v2

        - name: Set up Python 3.9
          uses: actions/setup-python@v2
          with:
            python-version: 3.9

        - name: Download Python Wheel
          uses: actions/download-artifact@v2
          id: download-wheel
          with:
            name: aac_wheel
            path: dist/

        - name: Install Wheel Distribution
          run: pip install ${{steps.download-wheel.outputs.download-path}}/${{needs.Package_Functional_Tests.outputs.wheel_name}}

        - name: Validate Core Spec
          run: python -m aac validate src/aac/spec/spec.yaml

        - name: Print out Core Spec
          run: python -m aac aac-core-spec

        - name: Validate Example Model
          run: python -m aac validate model/flow/System.yaml
