name: Deploy Python Artifacts

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./python

jobs:
  build_deployment_artifacts:
    name: Build Artifacts
    uses: ./.github/workflows/python-build-and-lint.yml

  deploy_artifacts:
    name: Deploy Artifacts
    runs-on: ubuntu-20.04
    needs: build_deployment_artifacts
    steps:
      - name: Download API Documentation
        uses: actions/download-artifact@v3
        with:
          name: api-documentation
          path: python/docs/docs/html/

      - name: Github Pages and Sphinx Deployment
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: python/docs/docs/html

      - name: Download Python Wheel
        uses: actions/download-artifact@v3
        with:
          name: aac_wheel
          path: python/dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: python/dist/
