name: Build and Deploy Sphinx Documentation
on:
  # Call from main workflow
  workflow_call:

  # Manual runs
  workflow_dispatch:

# Set token permissions
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment, skip queued between in progress and latest.
# But do NOT cancel in progress.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  #Single deploy job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Build Documentation
        uses: ammaraskar/sphinx-action@0.4
        with:
          pre-build-command: "pip install aac==0.3.*"
          docs-folder: "docs/"

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs/docs/html

      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v2
